@import url(//fonts.googleapis.com/css?family=Reem+Kufi|Voltaire);
/*
<link href="https://fonts.googleapis.com/css?family=Reem+Kufi|Voltaire" rel="stylesheet">

font-family: 'Reem Kufi', sans-serif;
font-family: 'Voltaire', sans-serif;

rouge : #A90000;
bleu: #8BA6C3;
ivoire :  #F0E0C7;
gris :  #1F1F20;

*/

body{
	padding: 0;
	margin: 0;
	background-color: #000;
}

.title{
	font-family: 'Reem Kufi', sans-serif;
}

.text{
	font-family: 'Voltaire', sans-serif;
}

.toggle{
	position:fixed;
	opacity: 0.3;
	width: 5%;
	top: 0;
  right:2vw;
	z-index: 1000

	}

.shadow {
-moz-box-shadow: 1vw 1vw 1vw 0px #000;
-webkit-box-shadow: 1vw 1vw 1vw 0px #000;
-o-box-shadow: 1vw 1vw 1vw 0px #000;
box-shadow: 0vw 0vw 2vw -1vw #000;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=15);
-moz-border-radius: px;
-webkit-border-radius: px;
border-radius: px;;
}

header{
	height: 80vw;
	background: url('https://raw.githubusercontent.com/sylecrom/WILDCHALLENGE/master/img/BANNIERE.jpg') no-repeat;
	background-position: relative;
	background-size : 100%;
	display: block;
	text-align : center;
}

.logo{
	width: 48%;
	float: center;
	z-index:999;
	top:1vw;
}


.ruban{
	width: 44%;
	position: absolute;
	Left: 28%;
	z-index: 100;
}	


.chapeauTitle{
	width: 100%;
	font-size: 3vw;
	color:white;
	text-shadow: 1px 1px 2px black; 
	position: absolute;
	text-align: center;
	z-index: 200;
}

nav li{
	list-style-type: none;
	float: left;
}
nav ul{
	padding: 0;
	margin: 0;
}
nav{
	width: 100%;
	height:6vw;
	background-color: #F0E0C7;
}

nav.fixed {
  position:fixed;
  top:0;
  right:0;
  left:0;
  z-index:999;
}

nav a{
	display:table-cell;
	vertical-align: center;
	text-decoration:none;
	padding:2vw 3vw;
	color: #000;
	/*text-transform: uppercase;*/
	font-size: 2vw;
}

a:hover{
	color: #A90000;
}
footer a:hover {
	color: #A90000;
}

.table{
	display : table;
	margin: 0 auto;
}

.logonav{
	width:14%;
	float: left;
	position:absolute;
	z-index:999;
}

.chapterTitle{
	font-size: 5vw;
	color: white;
 	position: relative;
	display : table-cell;
	vertical-align: middle;
  /*transform: translate(0%,50%); */
}

.obliq{
	font-size: 2vw;
	font-style: oblique;
}

.phonet{
	font-size: 3vw;
	vertical-align: super;
}
.subtext{
	font-size: 4vw;
}

.chapter{
	width:100%;
  height: 10vw;
	background-color: #A90000;
	position: relative;
	text-align: center;
	display: table;
}

.bandeau .title{
	font-size: 4vw;
	word-spacing: 1vw;
	text-shadow: 0px 0px 8px #000;
	color: white;
 	position: relative;
	display : table-cell;
	top:7vw;
}

.bandeau{
	width:100%;
  height: 40vw;
	background-color: #A90000;
	position: relative;
	text-align: center;
	display: table;
}
.bandeau_1{
	background: url('https://raw.githubusercontent.com/sylecrom/WILDCHALLENGE/master/img/BANDEAU_1.jpg') no-repeat;
	background-position: relative;
	background-size : 100%;
}

.bandeau_2{
	background: url('https://raw.githubusercontent.com/sylecrom/WILDCHALLENGE/master/img/BANDEAU_2V2.jpg') no-repeat;
	background-position: relative;
	background-size : 100%;
}

.bandeau_3{
	background: url('https://raw.githubusercontent.com/sylecrom/WILDCHALLENGE/master/img/BANDEAU_3.jpg') no-repeat;
	background-position: relative;
	background-size : 100%;
}

.bandeau_4{
	background: url('https://raw.githubusercontent.com/sylecrom/WILDCHALLENGE/master/img/BANDEAU_4.jpg') no-repeat;
	background-position: relative;
	background-size : 100%;
}

.presenter{
	height: 37vw;
	background-color: #fff;
	overflow: hidden;
}
.GreyTop{
background: url('https://raw.githubusercontent.com/sylecrom/WILDCHALLENGE/master/img/FicheGreyTop.jpg') no-repeat;
	background-size : 110%;
}
.GreyBot{
background: url('https://raw.githubusercontent.com/sylecrom/WILDCHALLENGE/master/img/FicheGreyBot.jpg') no-repeat;
	background-size : 110%;
}
.GreyL{
background: url('https://raw.githubusercontent.com/sylecrom/WILDCHALLENGE/master/img/FicheGreyL.jpg') no-repeat;
	background-size : 110%;
}
.GreyR{
background: url('https://raw.githubusercontent.com/sylecrom/WILDCHALLENGE/master/img/FicheGreyR.jpg') no-repeat;
	background-size : 110%;
}
.BlueTop{
background: url('https://raw.githubusercontent.com/sylecrom/WILDCHALLENGE/master/img/FicheBLuTop.jpg') no-repeat;
	background-size : 110%;
}
.BlueBot{
background: url('https://raw.githubusercontent.com/sylecrom/WILDCHALLENGE/master/img/FicheBluBot.jpg') no-repeat;
	background-size : 110%;
}
.BlueL{
background: url('https://raw.githubusercontent.com/sylecrom/WILDCHALLENGE/master/img/FicheBluL.jpg') no-repeat;
	background-size : 110%;
}
.BlueR{
background: url('https://raw.githubusercontent.com/sylecrom/WILDCHALLENGE/master/img/FicheBluR.jpg') no-repeat;
	background-size : 110%;
}

.art50{
	width:100%;
}
.art75{
	width:150%;
	position : relative;
	float: center;

}
.art100{
	width:210%;
	position : relative;
	float: center;

}

.column{
	width : 48%;
  margin: 0% 0% 0% 0%;
	float : Left;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}
.center{
	text-align: center;
}
.texthalf{
	width : 40%;
	margin: 3% 6% 0% 6%;
	float : Left;
	float : Left;
	z-index : 2;
}

.textquater{
	width : 22%;	
	margin: 0% 0% 0% 27% ;
	float : Left;
	float : Left;
	z-index : 2;
}
.textfull{
	width : 80%;	
	margin: 3% 0% 0% 10% ;
	position:absolute;
	float : Left;
	z-index : 1;
}

.colTitle{
	font-weight: 'Strong';
	color: #fff;
	font-size: 3vw;
}

.colText{
	font-size: 2.5vw;
	color:#fff;
	text-align: justify;
}


.ligne{
height: 0.5vw;	
background-color: #A90000;
}

/* FOOTER */

footer li{
	list-style-type: none;
	float: left;
}
footer ul{
	padding: 0;
	margin: 0;
}
footer{
	width: 100%;
	height:5vw;
	background-color: #0000;
}

footer.fixed {
  position:fixed;
  top:0;
  right:0;
  left:0;
  z-index:999;
}

footer a{
	display:table-cell;
	vertical-align: center;
	text-decoration:none;
	padding:1vw 3vw;
	color: #FFF;
	/*text-transform: uppercase;*/
	font-size: 15px;
	font-size: 1.5vw;
}

.image{
	width: 4%;
}	
/* barre de navigation flottante */

#sticky {
    width: 100vw;

}

#sticky-phantom {
    width: 100vw;
    visibility: hidden;
}

#sticky.stick {
    position: fixed;
    top: 0;
    width: 100%;
		z-index : 999;
}
